<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="dypark" />
    <meta
            name="Description"
            content="안녕하세요. 근육성장의 비밀, 여기서 모두 알려드립니다."
    />
    <meta name="keywords" content="헬스, 근성장, 근육, 벌크업, 분할법" />
    <meta
            property="og:title"
            content="강인한 정신력과 건강한 육체, 빌더들의 블로그"
    />
    <meta property="og:description" content="빌더의 블로그" />
    <meta
            property="og:image"
            content="https://blogpfthumb-phinf.pstatic.net/20150118_39/nabuilder_1421574448924qfxNx_PNG/man-305084_640.png?type=w161"
    />
    <meta property="og:url" content="https://appservice-server-g0h2f7eqbhana3dz.koreacentral-01.azurewebsites.net/" />
    <title>빌더들의 블로그</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/machine.css" />
    <link rel="stylesheet" href="/detail.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <!-- Font Awesome CDN 추가 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body>
<header>
    <div class="logo">
        <a href="/" target="_blank"><span>HealthyFit</span> Blog </a>
    </div>
    <nav>
        <ul>
            <li sec:authorize="isAuthenticated()" style="font-family: 'Libre Baskerville';
    font-size: 13px;
    letter-spacing: -1.1px;">
                환영합니다, <a sec:authentication="name"></a> 님
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/write" class="login" target="_blank">글 작성하기</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/my-page" class="login" target="_blank">내 정보 수정</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout" class="login" target="_blank">로그아웃</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login" class="login" target="_blank">시작하기</a>
            </li>
        </ul>
    </nav>
</header>

<!-- 상단 프로그레스 바 -->
<div id="progress-bar"></div>

<div>
    <section class="hero wrap">
        <h1 class="wrap-title" th:utext="${post.title}">분할 운동의 허와 실</h1>
        <p class="wrap-content" style="font-size: 17px;margin-bottom: 2px;" th:text="${abbreviatedContent}">분할운동, 제대로 알고 하자</p>
        <p style="font-size: 10pt;" class="wrap-content" th:text="${#temporals.format(post.updateAt, 'yy년 MM월 dd일 HH시 mm분 a')}">시간보여주는곳</p>
        <div class="author" ><span>By</span> <span th:text="${username}">dypark</span></div>
<!--        th:utext="${post.username}"-->
    </section>
</div>

<div>
    <section class="hero wrap" style="height: auto">
        <div class="wrap-img" th:if="${post.images != null and not #lists.isEmpty(post.images)}">
            <img  th:src="${post.images[0].imageUrl}" alt="게시글 이미지" />
        </div>
        <br />
        <p id="content" th:utext="${post.content}">

        </p>
    </section>
</div>

<div class="content-box">
    <div class="info-state">
        <span class="wrap_comment_btn">
          <button>좋아요</button>
          <button>댓글</button>
        </span>
    </div>
</div>
<div class="info-comment">
    <div class="comment_head">
        <strong class="tit_comment">댓글</strong>
    </div>
</div>
<div class="comment_content">
    <ul class="comment_list">
        <li class="animation_up">
            <div class="comment">
                <a class="link_profile"
                ><img
                        class="img_thumb"
                        alt="스토리 이미지"
                        height="32px"
                        src="//img1.daumcdn.net/thumb/C64x64.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/9Zi7/image/VinbLa1S8k5mGcner7H4VzeXzhM.jpg"
                        width="32px"
                /></a>
                <div class="cont_info">
                    <div class="info_append">
                        <div class="tit_userid">
                            <a class="link_userid" href="/@@9Zi7">스토리</a>
                        </div>
                        <span class="txt_time">Feb 07. 2025</span>
                    </div>
                    <p class="desc_comment">
                        당근이 좀 저렴한가요?<br />저도 식물 특히 꽃에 진심인
                        일인이어요.그러니 오늘 출근에 수박페페에 형광스킨답서스 하나
                        끼워 넣어 데리고 갑니다.ㅎ<br />그거 보며 힐링 하려구요.
                    </p>
                    <button class="btn_reply" onclick="showReplyInput(this)">
                        답글달기
                    </button>
                </div>
            </div>
            <div class="wrap_reply" style="padding-left: 40px">
                <ul class="list_reply">
                    <li class="animation_up">
                        <div class="comment" data-comment-no="2794985">
                            <a class="link_profile" href="/@@54B2"
                            ><img
                                    class="img_thumb"
                                    alt="박개짱 이미지"
                                    height="32px"
                                    src="//img1.daumcdn.net/thumb/C64x64.fpng/?fname=https://t1.daumcdn.net/brunch/static/img/help/pc/ico_profile_100_04.png"
                                    width="32px"
                            /></a>
                            <div class="cont_info">
                                <div class="info_append">
                                    <div class="tit_userid">
                                        <a class="link_userid" href="/@@54B2">박개짱</a>
                                        <em class="emph_auth">작가</em>
                                    </div>
                                    <span class="txt_time">Feb 07. 2025</span>
                                </div>
                                <p class="desc_comment">
                                    당근이 저렴한 경우도 있고 아닌 경우도 있더라구요 ㅎㅎ 근데
                                    사정 생겨서 보내는 분들은 예쁜 아이들 저렴하게
                                    분양해주시기도 해요~~ 출근길에 식물들 데려가는 거 너무
                                    좋은것 같아요 들여다볼때마다 힐링되니까요 :) 좋은 하루
                                    되세요^^
                                </p>
                                <button
                                        class="btn_reply"
                                        data-tiara-action-name="글뷰 > 댓글 리스트 > 답글 달기 버튼 클릭"
                                        data-tiara-layer="reply"
                                        data-tiara-custom="replytype=response_reply"
                                        type="button"
                                >
                                    답글달기
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="comment_input">
        <textarea id="commentText" placeholder="댓글을 입력하세요."></textarea>
        <button onclick="addComment()">등록</button>
    </div>
</div>

<div style="padding-bottom: 700px"></div>

<script src="/script.js"></script>
<script src="/detail.js"></script>
</body>
</html>
