<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="dypark" />
    <meta
            name="Description"
            content="안녕하세요. 근육성장의 비밀, 여기서 모두 알려드립니다."
    />
    <meta name="keywords" content="헬스, 근성장, 근육, 벌크업, 분할법" />
    <meta
            property="og:title"
            content="강인한 정신력과 건강한 육체, 빌더들의 블로그"
    />
    <meta property="og:description" content="빌더의 블로그" />
    <meta
            property="og:image"
            content="https://blogpfthumb-phinf.pstatic.net/20150118_39/nabuilder_1421574448924qfxNx_PNG/man-305084_640.png?type=w161"
    />
    <meta property="og:url" content="https://appservice-server-g0h2f7eqbhana3dz.koreacentral-01.azurewebsites.net/" />
    <title>빌더들의 블로그</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/machine.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <!-- Font Awesome CDN 추가 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><span>HealthyFit</span> Blog </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/login" class="login" target="_blank">시작하기</a>
            </li>
            <!--
            <li>
              <a href="#"><i class="fas fa-search"></i></a>
            </li>
            -->
        </ul>
    </nav>
</header>

<section class="hero">
    <h1 class="hero-title">BUILDER'S BLOG <span></span></h1>
    <p>강인한 정신력과 건강한 육체, 빌더들의 블로그</p>
    <p>2분할, 3분할, 4분할 운동법까지, 교과서적인 분할 방식 공유.</p>
    <p>근육 성장의 비밀, 여기서 모두 알려드립니다.</p>
</section>

<main>
    <div id="carousel">
        <div class="hideLeft selected" data-text="분할 운동의 허와 실">
            <img
                    src="https://performans.co.kr/data/item/1695379770/thumb-Untitled1_500x500.jpg"
            />
        </div>

        <div class="prevLeftSecond" data-text="복근 제대로 키우는 복근운동">
            <img
                    src="https://cdn.itbiznews.com/news/photo/202307/104084_100140_3656.jpg"
            />
        </div>

        <div class="prev" data-text="'메인(Main)운동'만 잘해도 몸은 성장한다.">
            <img
                    src="https://cafe24.poxo.com/ec01/par486par/Xeym8gXyw/uNs04t9Tz1Dihxc+3AYI9KWrdE1lmmlZqqtKwFZ1I2tWcO0YLyJlDITvYqhRHS7thqF3+jqeU89A==/_/web/product/big/202305/a9d251d242f0a40ce4f6a5cd531cd605.jpg"
            />
        </div>

        <div data-text="언제 어디서든 가능한 간단 운동">
            <img
                    src="https://fittergear.co.kr/web/product/big/202308/dfa47c47a309cb2b8124cd5512550649.jpg"
            />
        </div>

        <div class="next" data-text="멈추지 않는다는 것">
            <img
                    src="https://i1.sndcdn.com/artworks-mKXzcKZSyZ6c6gsV-egnzTw-t500x500.jpg"
            />
        </div>

        <div
                class="nextRightSecond"
                data-text="신선한 자극을 통해 성장을 극대화 시키기"
        >
            <img
                    src="https://i.pinimg.com/564x/81/0e/0f/810e0fe392c15ce61d94319394e0caed.jpg"
            />
        </div>

        <div class="hideRight" data-text="단기간 다이어트 운동 BEST5">
            <img
                    src="https://image.msscdn.net/images/goods_img/20240801/4290120/4290120_17224971949106_500.png"
            />
        </div>
    </div>
</main>

<section class="machine">
    <div class="thumbnail-buttons">
        <button class="thumbnail-btn" data-target="0">1</button>
        <button class="thumbnail-btn" data-target="1">2</button>
        <button class="thumbnail-btn" data-target="2">3</button>
        <button class="thumbnail-btn" data-target="3">4</button>
        <button class="thumbnail-btn" data-target="4">5</button>
        <button class="thumbnail-btn" data-target="5">6</button>
        <button class="thumbnail-btn" data-target="6">7</button>
    </div>

    <div class="post-container">
        <div class="post-container--titleBox">
            <h1 class="post-title">Community Q&A</h1>
            <p>헬스장 질문&답변, 정보 공유, 리뷰</p>
        </div>
        <div class="post-item">
            <div class="post-item--titleBox">
                <h3>게시물 제목 1</h3>
                <p>게시물 내용 1. 간략한 내용이 여기에 들어갑니다.</p>
                <div><span>By</span> dypark</div>
            </div>
            <img
                    src="https://img1.daumcdn.net/thumb/C120x120.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/6Aqs/image/zPZQsSWIuIt-SESVibcCYw2eztU.JPG"
                    alt="Post 1"
            />
        </div>
        <div class="post-item">
            <div class="post-item--titleBox">
                <h3>게시물 제목 1</h3>
                <p>게시물 내용 1. 간략한 내용이 여기에 들어갑니다.</p>
                <div><span>By</span> dypark</div>
            </div>
            <img
                    src="https://img1.daumcdn.net/thumb/C120x120.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/6Aqs/image/zPZQsSWIuIt-SESVibcCYw2eztU.JPG"
                    alt="Post 1"
            />
        </div>
        <div class="post-item">
            <div class="post-item--titleBox">
                <h3>게시물 제목 1</h3>
                <p>게시물 내용 1. 간략한 내용이 여기에 들어갑니다.</p>
                <div><span>By</span> dypark</div>
            </div>
            <img
                    src="https://img1.daumcdn.net/thumb/C120x120.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/6Aqs/image/zPZQsSWIuIt-SESVibcCYw2eztU.JPG"
                    alt="Post 1"
            />
        </div>
        <div class="post-item">
            <div class="post-item--titleBox">
                <h3>게시물 제목 1</h3>
                <p>게시물 내용 1. 간략한 내용이 여기에 들어갑니다.</p>
                <div><span>By</span> dypark</div>
            </div>
        </div>

        <!-- 추가 게시물 -->
    </div>

    <div class="machine-type--box">
        <h1 class="machine-type-title">Types of big muscle seven, BM7</h1>
        <p class="machine-type-content">
            근력(스트렝스)향상 운동을 가장 중요한 7가지만 뽑아 '빅머슬7'이라 이름
            짓는다.
        </p>

        <div class="machine-grid">
            <div class="machine-item">
                <img
                        src="https://img1.daumcdn.net/thumb/C500x500/?fname=http://t1.daumcdn.net/brunch/service/user/13o0/image/ILWc3KtRfIzv24VFjy1ss7GCUrI.jpg"
                        alt="Treadmill"
                        class="machine-image"
                />
                <h2 class="machine-name">Squat<br />(스콰트)</h2>
                <p class="machine-description">
                    웨이트 트레이닝의 대표적인 운동으로, 하체를 튼튼하게 만드는 데
                    도움을 줍니다. 척추, 상체, 엉덩이, 골반, 무릎, 발목관절 등을
                    활용합니다
                </p>
            </div>

            <div class="machine-item">
                <img
                        src="https://img1.daumcdn.net/thumb/C500x500/?fname=http://t1.daumcdn.net/brunch/service/user/2xMI/image/kzTDKwCE7bwEawi9Y4Q3tmyL4qI.png"
                        alt="Elliptical Machine"
                        class="machine-image"
                />
                <h2 class="machine-name">Deadlift<br />(데드리프트)</h2>
                <p class="machine-description">
                    데드리프트(Deadlift)는 하체, 등, 코어 등 다양한 근육을 사용하는
                    복합적인 웨이트 트레이닝 운동으로, 주로 하체와 등 근육을 강화하는
                    데 효과적입니다. 이 운동은 바벨을 바닥에서부터 들어올리는 동작으로
                    이루어진다.
                </p>
            </div>

            <div class="machine-item">
                <img
                        src="https://m.melkinsports.com/web/product/extra/big/202301/cf596e6215367718b9a59be30fe7732f.jpg"
                        alt="Rowing Machine"
                        class="machine-image"
                />
                <h2 class="machine-name">Bench Press<br />(벤치프레스)</h2>
                <p class="machine-description">
                    대표적인 근력 운동 중 하나이다. 벤치에 등을 대고 누워서 역기를
                    가슴 높이까지 내렸다가 굽힌 팔꿈치를 쭉 펴면서 들어 올리는
                    방식으로 실시한다.
                </p>
            </div>

            <div class="machine-item">
                <img
                        src="https://mblogthumb-phinf.pstatic.net/MjAyMDAyMTlfNDUg/MDAxNTgyMDY4Njg4MzEw.CYlWBYObNJh06aeCm7zgLSVP8BR37sMSrHnryv-Xj2Yg.8icRy_HfiF0NTTLuw1FJ8DcpnfOCZt5ONEC5YAXPgYQg.JPEG.phm11233/IMG_9324.JPG?type=w800"
                        alt="Stationary Bike"
                        class="machine-image"
                />
                <h2 class="machine-name">Military Press<br />(밀리터리 프레스)</h2>
                <p class="machine-description">
                    역도처럼 바벨을 머리 위로 들어올리는 보디빌딩 운동으로,
                    어깨세모근을 개발하고 전신의 협응력을 기르는 데 도움이 됩니다.
                </p>
            </div>

            <div class="machine-item">
                <img
                        src="https://cafe24.poxo.com/ec01/gptgym/UVTjSep0dwP4/wX7AtHyXGS+1J6onb4lJhQgJLyCLI6BEAm4+ssmzZGwYAMhADRS/ItELfe9c0FsyFEeB9swGA==/_/web/product/big/202007/d3ecb26d82b4556455775ce7d987f916.jpg"
                        alt="Leg Press Machine"
                        class="machine-image"
                />
                <h2 class="machine-name">Low<br />(로우 등)</h2>
                <p class="machine-description">
                    노를 젓는 움직임을 모방하여 근육을 강화하는 역도 운동입니다. 등
                    운동으로, 등의 중하부를 강화하는 데 도움이 됩니다. 로우 운동의
                    종류로는 바벨로우, 덤벨로우, 벤트오버 바벨로우 등이 있습니다
                </p>
            </div>
            <div class="machine-item">
                <img
                        src="https://cafe24.poxo.com/ec01/chosunjung1218/kXpK5qncJ1vV8D/xMr0Us654/fwZKpbGbXJXGez7pKaoNYlu0P79EtzoxHgJVLycvpYyB0TGtqZX4UZRz2uvhQ==/_/web/product/big/202208/2006e6f37010f7c95866f969c3d09c6a.jpg"
                        alt="Leg Press Machine"
                        class="machine-image"
                />
                <h2 class="machine-name">Pull Up<br />(턱걸이)</h2>
                <p class="machine-description">
                    턱걸이는 운동의 종류 중 하나이다. 일반적으로 수평으로 된 철봉에
                    손을 걸고 매달려 팔과 광배근, 대원근의 힘을 사용하여 턱이 철봉의
                    높이에 올 때까지 몸을 끌어 올리는 것을 말한다.
                </p>
            </div>
            <div class="machine-item">
                <img
                        src="https://img.danawa.com/prod_img/500000/686/825/img/15825686_1.jpg?_v=20211201112420"
                        alt="Leg Press Machine"
                        class="machine-image"
                />
                <h2 class="machine-name">Dips<br />(딥스 가슴)</h2>
                <p class="machine-description">
                    딥스는 평행봉에서 하는 맨몸 근력 운동으로, 가슴, 삼두근,
                    어깨세모근에 자극을 주는 운동입니다. 평행봉에서 하는 맨몸 근력
                    운동입니다.
                </p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <p>&copy; 2025 HealthyFit Blog. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Owl Carousel CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/2.3.4/owl.carousel.min.js"></script>

<script src="script.js"></script>
</body>
</html>
