<!DOCTYPE html>
<html lang="en">
<head> </head>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="dypark" />
    <meta
            name="Description"
            content="안녕하세요. 근육성장의 비밀, 여기서 모두 알려드립니다."
    />
    <meta name="keywords" content="헬스, 근성장, 근육, 벌크업, 분할법" />
    <meta
            property="og:title"
            content="강인한 정신력과 건강한 육체, 빌더들의 블로그"
    />
    <meta property="og:description" content="빌더의 블로그" />
    <meta
            property="og:image"
            content="https://blogpfthumb-phinf.pstatic.net/20150118_39/nabuilder_1421574448924qfxNx_PNG/man-305084_640.png?type=w161"
    />
    <meta property="og:url" content="https://appservice-server-g0h2f7eqbhana3dz.koreacentral-01.azurewebsites.net/" />
    <title>빌더들의 블로그</title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/login.css" />
    <link rel="stylesheet" href="/machine.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<header class="Header__Content">
    <div class="house-header__Box">
        <div class="house-header__Titile header-login">
            <div class="house-logo">
                <a href="/"> </a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="login">
            <form action="/login" method="POST">
                <div class="title">
                    <a href="/" target="_blank">BUILDER'S BLOG</a>
                </div>
                <div class="title-under">
                    로그인을 통해 다양한 운동 정보를 공유해주세요.
                </div>
                <div>
                    <input
                            class="input-text"
                            type="id"
                            placeholder="아아디를 입력해주세요"
                            style="margin-bottom: 7px"
                            name="userKey"
                    />
                    <input
                            class="input-text"
                            type="password"
                            placeholder="비밀번호를 입력해주세요"
                            name="userEmail"
                    />
                </div>
                <div class="login-box">
                    <button type="submit" class="btn-login">로그인</button>
                </div>
            </form>
            <form action="/signup" target="_blank">
                <div class="box-membership">
                    <span>아직 회원이 아니신가요?</span>
                    <span>회원가입을 하고 더 많은 정보를 받아가세요.</span>
                    <button class="btn-login">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
